@{{ submitter }}, just so you are aware we have a dedicated Working Group for {{ wg['workgroup'] }}.
You can find other people interested in this in the [Ansible Forum](https://forum.ansible.com/] or in the [matrix community room](https://matrix.to/#/#community:ansible.com).
For more information about communities, meetings and agendas see https://github.com/ansible/community

[click here for bot help](https://github.com/ansible-community/collection_bot/blob/devel/ISSUE_HELP.md)
<!--- boilerplate: community_workgroups --->
